
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-white">The committee is created on 19th March, with only one mission to complete the Malthep which has been in ruins for last seven years. Let's join hands 🙏🙏🙏 and grab the opportunity to be part of the development of our Malthep.  
            <br>
        Malthep, a nijor contribution arre account agot diya habbiye miliya malthep ago abosor uba korik....

        <br>
        </p>
<p class="text-white">
Name: RRB Mandir Nirman Commitee
<br/>
A/No: 50220015099815
<br/>
IFSC: BDBL0001173
</p>
          </div>
          <!--<div class="col-sm-4 offset-md-1 py-4">-->
          <!--  <h4 class="text-white">Contact</h4>-->
          <!--  <ul class="list-unstyled">-->
          <!--    <li><a href="#" class="text-white">Join us on Whatsapp</a></li>-->
          <!--    <li><a href="#" class="text-white">Like on Facebook</a></li>-->
          <!--    <li><a href="#" class="text-white">Email me</a></li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
         
          <strong>Gokila</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  