<div class="modal" id="delete_form2" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-light">
                <h5 class="modal-title " id="exampleModalLabel">
                    Delete confirmation
                </h5>
            </div>
            <div class="modal-body">
                The course details will be deleted permanantly, click confirm to continue.
            </div>
            <div class="modal-footer">
                <form method="POST" id='frm_delete2' action="/delete">
                    {% csrf_token %}
                    <button class=" btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>
            </div>
        </div>
    </div>

</div>