{% extends 'expense/expense_base.html' %}

{% block content %}

<div class="card" style="max-width: 30rem;">
    <div class="card_header text-white bg-success">
        Expense
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}

            <div class="form-group">
                <label for="name">{{form.item_name.label}}</label>
                <input type="text" value="{{form.item_name.value|default:''}}" name="{{form.item_name.html_name}}"
                    placeholder="Enter Item Name" class="form-control" />
                <div class="alert-danger">
                    {{form.item_name.errors}}
                </div>
            </div>
            <div class="form-group">
                <label for="category">{{form.item_category.label}}</label>
                <input type="text" value="{{form.item_category.value|default:''}}"
                    name="{{form.item_category.html_name}}" placeholder="Enter Item Category" class="form-control">
                <div class="alert-danger">
                    {{form.item_category.errors}}
                </div>
            </div>
            <div class="form-group">
                <label for="amount">{{form.item_amount.label}}</label>
                <input type="text" value="{{form.item_amount.value|default:''}}" name="{{form.item_amount.html_name}}"
                    placeholder="Enter the Amount" class="form-control">
                <div class="alert-danger">
                    {{form.item_amount.errors}}
                </div>
            </div>
            <div class="form-group">
                <label for="expense_date">{{form.expense_date.label}}</label>
                <input type="text" name="{{form.expense_date.html_name}}" class="form-control"
                    value="{{form.expense_date.value|default:''}}" placeholder="Enter Expanse Date">
                <div class="alert-danger">
                    {{form.expense_date.errors}}
                </div>
            </div>
            <!-- Using the formset
            {{ form.as_p }} -->
            <input class="btn btn-primary" type="submit" value="Submit">
            <a class="btn btn-primary " href="{% url 'expense_list' %}">Back</a>
        </form>
    </div>


</div>


{% endblock %}